<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Movie Recommender System</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        body {
            margin: 0;
        }
    </style>
</head>

<div id="app">
    <el-menu mode="horizontal" default-active="1" background-color="#545c64" text-color="#fff"
        active-text-color="#ffd04b">
        <el-menu-item index="1">Movie Recommender System</el-menu-item>
        <el-menu-item index="2">Algorithm Now Is : {{this.algoSelect}}</el-menu-item>
    </el-menu>
    <el-container>
        <el-main>

            <!-- tab -->
            <el-tabs v-model="activename" @tab-click="handleClick">

                <!-- RecommendPage -->
                <el-tab-pane label="Recommend Movies" name="first">
                    <el-row :gutter="30">

                        <el-col :span="4" v-for="o in recommended" :key="o.movie_id" :offset="0">
                            <el-card :body-style="{ padding: '0px' }"
                                style="margin-top:15px;height:420px;overflow:auto;position:relative;text-align: center;">

                                <!-- explanationIndex -->
                                <!-- Place where show the explanation why recommond the movies -->
                                <el-popover placement="top" title="It was recommended because...."
                                    transition="el-zoom-in-center" width="450" trigger="hover"
                                    content="这是一段内容,这是一段内容,这是一段内容,这是一段内容。">

                                    <!-- cannot be changed! it is used to define the hover trigger place-->
                                    <el-image style="width: 100%;height:240px;" :src="o.poster_url" fit="cover"
                                        slot="reference"></el-image>
                                    <!-- cannot be changed! -->

                                    <!-- You can change and add the explanation below,   -->
                                    <!-- the explanation data be must include in recommended:[] -->
                                    <!-- <el-image style="width: 100%;height:240px;" :src="pic_test" fit="cover"></el-image>
                                    <h4 style="padding:0 10px;margin:0">{{o.movie_title}}</h4> -->

                                    <el-container v-if="isItemToItem">
                                        <el-aside width="200px">
                                            <el-image style="width: 190px;height:100%;" :src="o.origin" fit="cover">
                                            </el-image>
                                        </el-aside>
                                        <el-main>
                                            <h4 style="padding:0 10px;margin:0.5em">{{ o.explaination }}</h6>
                                        </el-main>
                                    </el-container>
                                    <el-container v-else>
                                        <el-main>
                                            <h4 v-html="o.explaination" style="padding:0 10px;margin:0.5em"></h4>
                                        </el-main>
                                    </el-container>


                                </el-popover>

                                <h4 style="padding:0 10px;margin:0;">{{o.movie_title}}</h4>
                                <h6 style="padding:0 10px;margin:0.5em">{{ o.release_date }}</h6>


                                <div plain style="position:absolute;bottom:5px;">

                                    <div style="margin: 5px;text-align: center;">
                                        <el-rate v-model="o.score" style="padding:10px 10px;" :colors="colors">
                                        </el-rate>
                                    </div>

                                    <div style="margin: 5px;text-align: center">
                                        <el-button type="primary" @click="guess_U_like(o)" icon="el-icon-star-on">
                                            Similar
                                        </el-button>
                                    </div>

                                </div>

                            </el-card>

                        </el-col>

                    </el-row>

                    <div style="text-align: center;
                    line-height: 80px;">
                        <el-button type="success" @click="update">
                            <i class="el-icon-thumb
                            el-icon--left"></i>Update Recommend
                        </el-button>
                    </div>

                    
                </el-tab-pane>

                <!-- userProfile -->
                <el-tab-pane label="Rated Movies (User profile)" name="second">
                    <el-row :gutter="30">
                        <el-col :span="4" v-for="o in user_profile" :key="o.movie_id" :offset="0">
                            <el-card :body-style="{ padding: '0px' }"
                                style="margin-top:15px;height:450px;overflow:auto;position:relative">
                                <el-image style="width: 100%;height:240px;" :src="o.poster_url" fit="cover"></el-image>
                                <h4 style="padding:0 10px;margin:0">{{o.movie_title}}</h4>
                                <h6 style="padding:0 10px;margin:0.5em">{{ o.release_date }}</h6>


                                <div plain style="position:absolute;bottom:5px;">


                                    <div style="margin: 5px;text-align: center;">
                                        <el-rate v-model="o.score" style="padding:10px 10px;" :colors="colors">
                                        </el-rate>
                                    </div>

                                    <div style="margin: 5px;text-align: center;">
                                        <el-button type="danger" @click="o.score=0" icon="el-icon-delete" circle>
                                        </el-button>

                                    </div>

                                    <div style="margin: 5px;text-align: center">
                                        <el-button type="primary" @click="guess_U_like(o)" icon="el-icon-star-on">
                                            Similar
                                        </el-button>
                                    </div>

                                </div>


                            </el-card>
                        </el-col>
                    </el-row>



                    <div style="text-align: center;
                    line-height: 80px;">
                        <el-button type="success" @click="update_profile">
                            <i class="el-icon-thumb
                            el-icon--left"></i>Update Rating
                        </el-button>
                    </div>

                </el-tab-pane>

                <!-- Debug area -->

                <!-- == == == == == ==== == ==== == ==== == ==== == ==== == ==== == ==-->

                <!-- You can see what your data(only defined in vue) look like just change the data property -->
                <!-- You can see the columns and rows realtime-->
                <!-- The columns(prop) is required -->
<!-- 
                <el-tab-pane label="DataTestArea" name="third">
                    <el-table :data="selected_movies" style="width: 100%">
                        <el-table-column prop="movie_id" label="movie_id" width="180">
                        </el-table-column>
                        <el-table-column prop="movie_title" label="movie_title" width="180">
                        </el-table-column>
                        <el-table-column prop="poster_url" label="poster_url">
                        </el-table-column>
                        <el-table-column prop="score" label="score">
                        </el-table-column>
                    </el-table>
                </el-tab-pane> -->

                <!-- == == == == == ==== == ==== == ==== == ==== == ==== == ==== == ==-->

            </el-tabs>
            <!-- tab -->

            <!-- guess what you like -->
            <el-drawer title="Guess you may like these movies...." :visible.sync="drawer" style="text-align: center;"
                direction="btt" size="60%">

                <div style="text-align: center;">
                    <el-row :gutter="40">
                        <el-col :span="2">
                        </el-col>
                        <el-col :span="4" v-for="o in guess_like" :key="o.movie_id" :offset="0">
                            <el-image style="width: 100%;height:240px;" :src="o.poster_url" fit="cover"></el-image>
                            <h4 style="padding:0 10px;margin:0">{{o.movie_title}}</h4>
                            <h6 style="padding:0 10px;margin:0.5em">{{ o.release_date }}</h6>
                        </el-col>
                        <el-col :span="2">
                        </el-col>
                    </el-row>
                </div>

            </el-drawer>

            <!-- focus -->
            <!--  Dialog0-->
            <el-dialog title="Please choose any genre you're interested in." :visible="dialog0" width="60%"
                :show-close="false">

                <el-steps :active=0 finish-status="success">
                    <el-step title="Step 1"></el-step>
                    <el-step title="Step 2"></el-step>
                    <el-step title="Get your recommend!"></el-step>
                </el-steps>

                <span>Multiple answers are possible.</span>
                <el-checkbox-group v-model="selected_genre" style="margin-top:20px">
                    <el-checkbox :label=item border v-for="(item, index) in genre" :key="index"
                        style="margin-top:20px; margin-left: 0px"></el-checkbox>
                </el-checkbox-group>

                <span slot="footer" class="dialog-footer">
                    <!-- The selected box for algorithm -->
                    <el-radio-group v-model="algoSelect" fill="primary">
                        <el-radio-button label="0">algo1-item2item</el-radio-button>
                        <el-radio-button label="1">algo2-contentBased</el-radio-button>
                    </el-radio-group>
                    <el-button type="success" @click="step1" plain :disabled="step1_show" style="min-width:128px">Next
                    </el-button>
                </span>
            </el-dialog>

            <!--  Dialog1-->
            <el-dialog title="Please rate the following movies." :visible="dialog1" width="80%" :show-close="false">
                <el-row :gutter="30">

                    <el-steps :active=1 finish-status="success">
                        <el-step title="Step 1"></el-step>
                        <el-step title="Step 2"></el-step>
                        <el-step title="Get your recommend!"></el-step>
                    </el-steps>

                    <el-col :span="4" v-for="o in movies" :key="o.movie_id" :offset="0">
                        <el-card :body-style="{ padding: '0px' }" style="margin-top:15px;height:368px;overflow:auto">
                            <el-image style="width: 100%;height:240px;" :src="o.poster_url" fit="cover"></el-image>
                            <h4 style="padding:0 10px;margin:0">{{o.movie_title}}</h4>
                            <el-rate style="padding:10px 10px;" v-model="o.score" :colors="colors">
                            </el-rate>

                        </el-card>
                    </el-col>
                </el-row>

                <span slot="footer" class="dialog-footer">
                    <el-button type="#409EFF" @click="refresh" style="width:128px" round>
                        <i class="el-icon-refresh"></i>
                        Refresh
                    </el-button>
                    <el-button type="success" @click="step2" plain :disabled="step2_show" style="width:128px">Next
                    </el-button>
                </span>
            </el-dialog>
        </el-main>


    </el-container>
    <div> 

        This is simple test string <br>
        This is another lin


    </div>
</div>

<body>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        ELEMENT.locale(ELEMENT.lang.en)
        new Vue({
            el: '#app',
            data: function () {
                return {

                    // for requesting the API
                    baseurl: 'http://127.0.0.1:8000',
                    genre: [],

                    // store the Keywords which be selected, it can be used in refresh function
                    selected_genre: [],

                    // selected algorithm, it also will be stored in backend as a global variable
                    algoSelect: 0,

                    // movies waiting to rating
                    movies: [],

                    // movies which have been process when click the refresh button or next button in dialog 1
                    // Only the rated movies will be stored into the user_profile
                    selected_movies: [],

                    // movies be rated or modified will be stored: 
                    // 1.after refresh or next in dialog-1 
                    // 2.rated movies again, and click update in recommending page
                    // 3.movies scores that modified or removed in rated movies page
                    user_profile: [],

                    // movies return by the algorithm in backend
                    recommended: [],

                    // when click the similar movies button, the most 5 familiar movies 
                    // with that movie will stored in here.
                    guess_like: [],
                    isItemToItem: true, 

                    colors: ['#99A9BF', '#F7BA2A', '#FF9900'],
                    // textRate:['good', 'bad', 'good', 'a', 'b'],
                    iconClasses: ['#99A9BF', '#F7BA2A', '#FF9900'],
                    dialog0: true,
                    dialog1: false,
                    iconClasses: ['icon-rate-face-1', 'icon-rate-face-2', 'icon-rate-face-3'],
                    value: 2,
                    test: [],
                    drawer: false,
                    pic_test: "https://miro.medium.com/max/5728/1*jrGtIJOcp12u53T6r5VuIA.jpeg",
                    activename: "first",
                }
            },

            methods: {

                step1: function () {
                    step1_value = [];
                    // 1. stored the selected keyword 
                    step1_value.push(this.selected_genre);
                    // 2. store the selected algo
                    step1_value.push(this.algoSelect);
                    // send the values of keywords the the selected algorithm to backend
                    axios.post(this.baseurl + "/api/movies", step1_value).then((res) => {
                        if (this.algoSelect == 0) {
                            this.algoSelect = "Item2item"
                            this.isItemToItem = true
                        } else {
                            this.algoSelect = "ContentBased"
                            this.isItemToItem = false
                        }
                        this.movies = res.data;
                        this.dialog0 = false;
                        this.dialog1 = true;

                    })
                },


                // If a user didn't find any movie he watched before in the first random list, or he just want to rate more movies
                // he may want to use the refresh function
                // This design can help us get more user profile
                refresh: function () {
                    // 1. store the movies rated in selected_movies:[]
                    this.selected_movies = this.selected_movies.concat(this.movies);
                    axios.post(this.baseurl + "/api/refresh").then((res) => {
                        // 2. return a new random list with the selected keywords(defined by Mak)
                        this.movies = res.data;
                        this.dialog0 = false;
                        this.dialog1 = true;

                    })
                },

                step2: function () {
                    // 1. store the movies rated in selected_movies:[]
                    this.selected_movies = this.selected_movies.concat(this.movies);
                    // 2. request the backend, and remove the movies which not be rated, and store the user profile in backend
                    axios.post(this.baseurl + "/api/profile", this.selected_movies).then((res) => {
                        // 3.update the user profile in fronted
                        this.user_profile = res.data;
                        // 4. update the seleted movie with user profile
                        this.selected_movies = this.user_profile;
                        // 5. request the recommend list with updated user profile
                        // Round = 1 
                        round = [1];
                        axios.post(this.baseurl + "/api/record_round", round).then((res) => {
                            // payload = { "movies": this.selected_movies, "round": "1" };
                            // console.log(payload)
                            axios.post(this.baseurl + "/api/recommend", this.user_profile).then((res) => {
                                this.recommended = res.data;
                                this.dialog1 = false;
                            });
                        });
                    });
                },
                // the steps is nearly the same as step2, just updated a new recommend list with the updated user profile
                update: function () {
                    this.selected_movies = this.selected_movies.concat(this.recommended);
                    // payload = { "movies": this.selected_movies, "round": 2 }
                    // console.log(payload)
                    axios.post(this.baseurl + "/api/profile", this.selected_movies).then((res) => {
                        this.user_profile = res.data;
                        this.selected_movies = this.user_profile;

                        // Round 2 
                        round = [2]
                        axios.post(this.baseurl + "/api/record_round", round).then((res) => {
                            // payload = { "movies": this.selected_movies, "round": "1" };
                            axios.post(this.baseurl + "/api/recommend", this.user_profile).then((res) => {
                                this.recommended = res.data;
                                // this.dialog1 = false;
                            });
                        });
                    });
                },

                // this function is used in rated movie page.
                // warning! The user profile are not upated until clike the button in the page
                update_profile: function () {
                    axios.post(this.baseurl + "/api/profile", this.user_profile).then((res) => {
                        this.user_profile = res.data;
                    });
                },

                // ======function example given by TA======
                // liked_btn: function (movie) {
                //     let that = this;
                //     this.liked.push(movie);
                //     this.recommended.splice(this.recommended.findIndex(item => item.movie_id === movie.movie_id), 1);
                //     axios.get(this.baseurl + '/api/add_recommend/' + movie.movie_id).then((res) => {
                //         console.log(res.data);
                //         that.recommended.push.apply(that.recommended, res.data);
                //         that.liked.push.apply(that.liked, res.data);
                //     })
                // },
                // ======function example given by TA======


                // Quick search location in body: @click="guess_U_like(o) 
                // input: the movie where the button is
                // Quick search location in body:  <!-- guess what you like -->
                // output: the most n similar movies with the target movie
                // the data display in the drawer will be updated, then drawer will appear
                guess_U_like: function (movie) {
                    axios.get(this.baseurl + '/api/get_similar_items/' + movie.movie_id).then((res) => {
                        this.guess_like = res.data;
                        this.drawer = true;
                    })
                }

            },
            mounted: function () {
                axios.get(this.baseurl + "/api/genre").then((res) => {
                    this.genre = res.data['genre'];
                })
            },
            computed: {
                step1_show: function () {
                    if (this.selected_genre.length > 0) {
                        return false;
                    } else {
                        return true;
                    }
                },
                step2_show: function () {
                    let scores = 0;
                    for (let i of this.movies) {
                        if (i['score'] > 0) {
                            scores++
                        }
                    }
                    for (let i of this.selected_movies) {
                        if (i['score'] > 0) {
                            scores++
                        }
                    }
                    console.log(scores);
                    if (scores >= 1) {
                        return false;
                    } else {
                        return true
                    };


                },
            }
        })
    </script>
</body>

</html>